
.nav-items {
  list-style: none;
  display: flex;
}

.nav {
  
  padding-left: 15px;
  padding-right: 15px;
  display : flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px grey;
  
}

.nav-items > li{
  padding: 10px;
}

.logo {
  width: 60px;
}





